[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
python-dotenv = "*"
gunicorn = "*"
alembic = "*"
mysqlclient = "*"
sqlalchemy = "*"
boto3 = "*"
confluent-kafka = "*"
flask-executor = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[dev-packages]
flake8 = "*"
factory-boy = "*"
moto = "*"
pytest = "*"
coverage = "*"
black = "*"
flake8-bugbear = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
