[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
python-dotenv = "*"
gunicorn = "*"
alembic = "*"
pytest = "*"
mysqlclient = "*"
sqlalchemy = "*"
boto3 = "*"
moto = {version = "*", extras = ["all", "ec2", "s3"]}

[dev-packages]

[requires]
python_version = "3.11"
