# App setup
DEBUG=1
SECRET_KEY=your_secret_key

# Database
PRODUCTION_DB_URI=your_production_db_uri

# OpenAI
OPENAI_API_KEY=your_openai_api_key

# Kafka
BROKER_URI=your_broker_uri
GROUP_ID=your_group_id
TRANSLATED_ARTICLES_TOPIC=your_translated_articles_topic
TRANSLATION_REQUESTS_TOPIC=your_translation_requests_topic
LANGUAGE_CHANGES_TOPIC=your_language_changes_topic

# AWS S3
S3_ACCESS_KEY_ID=your_s3_access_key_id
S3_SECRET_ACCESS_KEY=your_s3_secret_access_key
S3_BUCKET_NAME=your_s3_bucket_name
TRANSLATIONS_SUBFOLDER_NAME=your_translations_subfolder_name
